*{
    margin: 0;
}
header{
    background-color: orange;
    color: blue;
    text-align: center;
}
.titre{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
.slogan{
    font-style: italic;
    padding-bottom: 30px;
}
nav{
    padding: 20px;
    text-align: center;
    background-color: rgb(129, 241, 241);
}
nav a{
    text-decoration: none;
    color:white;
    padding: 50px;
}
div{
    background-color: yellow;
}
span{
    background-color: yellow;
    height: 500px;
    display: block;
}
footer{
    background-color: orange;
}
